################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/QrSorterInspectionApp/.vs
/QrSorterInspectionApp/bin
/QrSorterInspectionApp/obj
/OPHISTORYLOG
/Publish
/QrSorterSimulatorApp/bin/Debug
/QrSorterSimulatorApp/obj/Debug
/QrSorterSimulatorApp/bin/Release
/QrSorterSimulatorApp/obj/Release
/NationalTaxInvestigationApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/NationalTaxInvestigationApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NationalTaxInvestigationApp/obj/Debug/NationalTaxInvestigationApp.pdb
/NationalTaxInvestigationApp/bin/Debug/NationalTaxInvestigationApp.application
/NationalTaxInvestigationApp/obj/Debug/NationalTaxInvestigationApp.exe.manifest
/NationalTaxInvestigationApp/obj/Debug/NationalTaxInvestigationApp.exe
/NationalTaxInvestigationApp/obj/Debug/NationalTaxInvestigationApp.csproj.GenerateResource.cache
/NationalTaxInvestigationApp/obj/Debug/NationalTaxInvestigationApp.application
/NationalTaxInvestigationApp/bin/Debug/app.publish/NationalTaxInvestigationApp.exe
/NationalTaxInvestigationApp/bin/Debug/NationalTaxInvestigationApp.exe
/NationalTaxInvestigationApp/bin/Debug/NationalTaxInvestigationApp.exe.manifest
/NationalTaxInvestigationApp/bin/Debug/NationalTaxInvestigationApp.pdb
/NationalTaxInvestigationApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250713.LOG
/QrSorterForCensusApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.application
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250715.LOG
/QrSorterForCensusApp/bin/Debug/QrSorterForCensusApp.application
/QrSorterForCensusApp/bin/Debug/QrSorterForCensusApp.exe
/QrSorterForCensusApp/bin/Debug/QrSorterForCensusApp.exe.config
/QrSorterForCensusApp/bin/Debug/QrSorterForCensusApp.exe.manifest
/QrSorterForCensusApp/bin/Debug/QrSorterForCensusApp.pdb
/QrSorterForCensusApp/bin/Debug/app.publish/QrSorterForCensusApp.exe
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.csproj.GenerateResource.cache
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.exe
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.exe.manifest
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.pdb
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.exe.config
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250720.LOG
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250721.LOG
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250418.LOG
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG/操作履歴ログ_20250419.LOG
/QrSorterForCensusApp/bin/Debug/JOB/国勢調査用JOB設定.csv
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.csproj.CoreCompileInputs.cache
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.csproj.FileListAbsolute.txt
/QrSorterForCensusApp/bin/Debug/OPHISTORYLOG
/UpgradeLog.htm
/QrSorterForCensusApp/obj/Debug/QrSorterForCensusApp.csproj.AssemblyReference.cache
